body{background-color:pink; margin:20px 60px 25px 60px;}
h1{font-size:60pt; font-family:"trebuchet MS";}
h2{font-size:14pt; font-family:"trebuchet MS"; color:brown;}
h3{font-size:30pt; font-family:"trebuchet MS"; color maroon;}
hr{color:brown;width:75%;text-align:left;}
p{font-weight:bold; font-family:"trebuchet MS"}
ol{font-family:"trebuchet MS"}

