body{background-color:pink; margin:20px 60px 25px 60px;}
h1{font-size:60pt; font-family:"trebuchet MS";}
h2{font-size:14pt; font-family:"trebuchet MS"; color:brown; text-align:center;}
h3{font-size:30pt; font-family:"trebuchet MS"; color:maroon; font-style:italic}
h4{font-family:"trebuchet MS";color:green;}
td{text-align:center;}
hr{color:brown;width:75%;text-align:left;}
p{font-weight:bold; font-family:"trebuchet MS"}
ol{font-family:"trebuchet MS"}
.price{font-weight:bold;}
.desc{width:400px;font-style:italic;font-size:14pt;}
img{width:100px;height:100px;border:5px solid purple;}